<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="homepage.css"/> -->
    <link rel="stylesheet" href="output.css"/>

</head>

<body>
    <h1 class="text-red-700 text-4xl">Welcome to airbnb</h1> <!--giving tailwind css-->
    <a href="/user" class="hover:bg-red-800">go to user</a>
    <a href="/host" class="hover:text-blue-700 transition duration-300">go to host</a>
    <br>
    <a href="/host/add-home">Add home</a>
</body>

</html>